$Sapphire: #af2cd3;
$Sapphire-transparent: rgba(146, 32, 212, 0.5);
$font-color: #eee;
$border-orange: 0.3rem solid #df8e1d;
$border-pink-small: 0.2rem solid #dc8a78;
$pink: #e64553;
$linear-gradient-default: linear-gradient(to bottom right, rgba(64, 160, 43, 0.5), 80%, rgba(146, 32, 212, 0.5));
