@use 'colors';
@use 'fonts';
@use 'components';

.header{
  height: 100vh;
  width: 100%;
  position: relative;
}

.header__figure{
  height: 100%;
  width: 100%;
  background: colors.$linear-gradient-default, url("./FrontEnd/Les\ 02/img/try.webp");
  background-position: bottom;
  background-size: cover;
}

.header > figure > div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  color: colors.$font-color;
  text-align: center;
}

.header__h1{
  font-family: fonts.$handwriting;
  font-size: 300%;
}

.header__h2{
  @extend %h2Handwriting;
}

.header__logo{
  @extend %icon;
}

.header__button{
  @extend %cta;
}
