@use 'components';
@use 'colors';

.kenmerken{
  @extend %section;
}

.kenmerken__header {
  @extend %header;
}

.kenmerken__h2{
  @extend %h2Handwriting;
}

.kenmerken__list{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 80%;
  padding: 10rem;
}

.kenmerken__listItem{
  list-style-type: none;
  color: colors.$font-color;
  flex-shrink: 0;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kenmerken__p{
  width: 30ch;
  text-align: center;
}

.kenmerken_logo{
  @extend %icon;
  font-size: 200%;
}