@use 'colors'; 
@use 'fonts';

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: 2rem;
  font-family: fonts.$lato;
  background: colors.$Sapphire;
}

a, a:visited, a:link{
  color: colors.$font-color;
  text-decoration: none;
}