.heart{
  background: none;
  outline: none;
  border: none;
  font-size: 120%;
  padding: 0.5rem;

  &__logo{
    font-size: 120%;
    color: #2E3440;
    &:hover{
      cursor: pointer;
    }
  }

  &__logo.fa-solid{
    color: #2E3440;
  }
}