*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  body{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    background: #19782f;
  }
  
  a, a:visited, a:link{
    color: #eee;
    text-decoration: none;
  }
  
  .nav{
    width: 100%;
    background: rgba(14, 122, 4, 0.781);
    display: flex;
    justify-content: space-between;
    min-height: 7rem;
    align-items: center;
    color: #eee;
    font-size: 120%;
    padding: 2rem;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .list{
    display: flex;
    list-style: none;
    gap: 4rem;
  }
  
  .cta{
    width: 11rem;
    padding:0.5rem;
    font-size: 70%;
    background: #e64553;
    border: none;
    color: #eee;
    border-radius: 0.5rem;
  }
  
  .cta:hover{
    cursor: pointer;
    background: hsl(35, 77%, 49%);
    transition: 0.2s;
  }
  
  .banner{
    height: 100vh;
    width: 100%;
    position: relative;
  }
  
  .banner > figure{
    height: 100%;
    width: 100%;
    background: linear-gradient( to bottom right, rgba(64, 160, 43, 0.5), 80%, rgba(146, 32, 212, 0.5)), url("../img/background.webp");
    background-position: bottom;
    background-size: cover;
  }
  
  .banner > figure > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: #eee;
    text-align: center;
  }
  
  .heading{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 300%;
  }
  
  .heading2{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 200%;
  }
  
  .logo{
    font-size: 250%;
    border: 0.3rem solid #df8e1d;
    border-radius: 50%;
    padding: 1.5rem;
  }
  
  .over{
    padding: 4rem;
    height: 80rem;
    border-bottom: 0.2rem solid #dc8a78; 
  }
  
  .over > header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
  .over > header > h2{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 380%;
    color: #eee;
  }
  
  .over > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 100%;
  }
  
  .over > div > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .over > div > div > p{
    width: 55ch;
    color: #eee;
  }
  
  .over > div > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  .over > div > figure{
    position: relative;
    width: 60rem;
    height: 40rem; 
  }
  
  .over > div > figure::after{
    content: "";
    background: linear-gradient( to bottom right, rgba(64, 160, 43, 0.5), 80%, rgba(146, 32, 212, 0.5));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .kenmerken{
    border-bottom: 0.2rem solid #dc8a78; 
    padding: 4rem;
  }
  
  .kenmerken > header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 20%;
  }
  
  .kenmerken > header > h2{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 380%;
    color: #eee;
  }
  
  .OnzeKenmerken{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80%;
    padding: 10rem;
  }
  
  .kenmerk {
    list-style-type: none;
    color: #eee;
    flex-shrink: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .kenmerk > p{
    width: 30ch;
    text-align: center;
  }
  
  .KenmerkIcon{
    font-size: 180%;
    border: 0.1rem solid #df8e1d;
    padding: 2rem;
    border-radius: 50%;
  }
  
  .gallerij {
    height: 80vh;
  }
  
  .gallerij > header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6rem;
  }
  
  .gallerij > header > h2{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 380%;
    color: #eee;
  }
  
  .fotos{
    display: flex;
    flex-wrap: wrap;
  }
  
  .foto {
    width: 25%;
    height: 40rem;
    list-style-type: none;
    position: relative;
  }
  
  .foto > section{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient( to bottom right, rgba(64, 160, 43, 0.5), 80%, rgba(146, 32, 212, 0.5));
    transform: scaleX(0);
    transition: 0.8s;
    transform-origin: left;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foto > section > .cta{
    opacity: 0;
    transition-delay: 0.8s;
    transition-duration: 0.2s;
  }
  
  .foto:hover > section > .cta{
    opacity: 1;
  }
  
  .foto:hover > section{
    transform: scale(1);
  }
  
  .foto > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  
  @media screen and (max-width: 75rem) {
    body{
      font-size: 1.6rem;
    }
    .banner{
      height: 140rem;
    }
  
    .over{
      min-height: 120rem;
    }
  
    .over > header{
      height: 20%;
    }
  
    .over > div {
      flex-direction: column;
      height: 80%;
    }
  
    .over > div > div {
      height: 60%;
    }
    .over > div > div > p{
      width: 100%;
      color: #eee;
    }
    .over > div > figure{
      position: relative;
      width: 100%;
      height: 40%; /* 60rem */
    }
    .kenmerken {
      min-height: 120rem;
    }
    .kenmerk{
      width: 100%;
    }
    .gallerij{
      height: auto;
    }
    .fotos{
      flex-wrap: wrap;
    }
    .foto{
      height: 20rem;
      width: 100%;
    }
    .foto:hover > section > .cta{
      opacity: 0;
    }
    
    .foto:hover > section{
      transform: scale(0);
    }
  }
  
  
  @media screen and (max-width: 50rem) {
    .list{
      flex-direction: column;
    }
  }